/*!
Theme Name: Sportme
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Sportme wordpress theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: sportme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Sportme is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*//*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:0.67em 0}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}body,button,input,select,optgroup,textarea{color:#404040;font-family:sans-serif;font-size:16px;font-size:1rem;line-height:1.5}h1,h2,h3,h4,h5,h6{clear:both}p{margin-bottom:1.5em}dfn,cite,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",Courier,monospace;font-size:15px;font-size:.9375rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size:15px;font-size:.9375rem}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:125%}html{-webkit-box-sizing:border-box;box-sizing:border-box}*,*:before,*:after{-webkit-box-sizing:inherit;box-sizing:inherit}body{background:#fff}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ul,ol{margin:0 0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:bold}dd{margin:0 1.5em 1.5em}img{height:auto;max-width:100%}figure{margin:1em 0}table{margin:0 0 1.5em;width:100%}button,input[type="button"],input[type="reset"],input[type="submit"]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;color:rgba(0,0,0,0.8);font-size:12px;font-size:.75rem;line-height:1;padding:.6em 1em .4em}button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{border-color:#ccc #bbb #aaa}button:active,button:focus,input[type="button"]:active,input[type="button"]:focus,input[type="reset"]:active,input[type="reset"]:focus,input[type="submit"]:active,input[type="submit"]:focus{border-color:#aaa #bbb #bbb}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{color:#666;border:1px solid #ccc;border-radius:3px;padding:3px}input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="range"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="color"]:focus,textarea:focus{color:#111}select{border:1px solid #ccc}textarea{width:100%}a{color:#4169e1}a:visited{color:purple}a:hover,a:focus,a:active{color:#191970}a:focus{outline:thin dotted}a:hover,a:active{outline:0}.main-navigation{clear:both;display:block;float:left;width:100%}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0}.main-navigation ul ul{-webkit-box-shadow:0 3px 3px rgba(0,0,0,0.2);box-shadow:0 3px 3px rgba(0,0,0,0.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li:hover>ul,.main-navigation ul ul li.focus>ul{left:100%}.main-navigation ul ul a{width:200px}.main-navigation ul li:hover>ul,.main-navigation ul li.focus>ul{left:auto}.main-navigation li{float:left;position:relative}.main-navigation a{display:block;text-decoration:none}.menu-toggle,.main-navigation.toggled ul{display:block}@media screen and (min-width: 37.5em){.menu-toggle{display:none}.main-navigation ul{display:block}}.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{margin:0 0 1.5em;overflow:hidden}.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{float:left;width:50%}.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{float:right;text-align:right;width:50%}.screen-reader-text{border:0;clip:rect(1px, 1px, 1px, 1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,0.6);box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;-webkit-clip-path:none;clip-path:none;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#content[tabindex="-1"]:focus{outline:0}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:"";display:table;table-layout:fixed}.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both}.widget{margin:0 0 1.5em}.widget select{max-width:100%}.sticky{display:block}.post,.page{margin:0 0 1.5em}.updated:not(.published){display:none}.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}embed,iframe,object{max-width:100%}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:0.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em}.gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%}.gallery-columns-2 .gallery-item{max-width:50%}.gallery-columns-3 .gallery-item{max-width:33.33%}.gallery-columns-4 .gallery-item{max-width:25%}.gallery-columns-5 .gallery-item{max-width:20%}.gallery-columns-6 .gallery-item{max-width:16.66%}.gallery-columns-7 .gallery-item{max-width:14.28%}.gallery-columns-8 .gallery-item{max-width:12.5%}.gallery-columns-9 .gallery-item{max-width:11.11%}.gallery-caption{display:block}body{font-family:'Nunito Sans', sans-serif;letter-spacing:-1px;margin-bottom:0 !important}@keyframes fadein{from{opacity:0}to{opacity:1}}@-webkit-keyframes fadein{from{opacity:0}to{opacity:1}}.modal-open section,.modal-open footer,.modal-open header{-webkit-filter:blur(5px);filter:blur(5px)}.radio{vertical-align:top;width:17px;height:17px;margin:0 3px 0 0}.radio+label{cursor:pointer}.radio:not(checked){position:absolute;z-index:-1;opacity:0;margin:10px 0 0 7px}.radio:not(checked)+label{position:relative;padding:0 0 0 28px}.radio:not(checked)+label:before{content:'';position:absolute;top:2px;left:0;width:14px;height:14px;border:1px solid #c0c0c4;border-radius:50%;background:#FFF}.radio:not(checked)+label:after{content:'';position:absolute;top:5px;left:2px;width:10px;height:10px;background:#328208;border-radius:50%;opacity:0;-webkit-transition:.2s;transition:.2s}.radio:checked+label{font-weight:bold}.radio:checked+label:after{opacity:1}.custom-select{border-width:0.5px;border-color:#c0c0c4;border-style:solid;background-color:#d9d9de;background:#d9d9de url("./img/arrrow_bottom.png") no-repeat right 0.75rem center;-webkit-box-shadow:9.584px 7.222px 13px 0px rgba(5,5,5,0.08);box-shadow:9.584px 7.222px 13px 0px rgba(5,5,5,0.08);font-size:16px;color:rgba(0,0,51,0.749);font-style:italic;line-height:1.2;text-align:left;border-radius:0px;padding-left:20px;font-weight:300;height:51px}.custom-select:after{content:none}.dropdown-menu{width:100%;background:#f0f0f0}.dropdown-menu .dropdown-item:hover{background:#f0f0f0}.dropdown-menu .dropdown-divider{border-color:#787891}.checkbox{vertical-align:top;width:17px;height:17px;margin:0 3px 0 0}.checkbox+label{cursor:pointer}.checkbox:not(checked){position:absolute;z-index:-1;opacity:0;margin:10px 0 0 7px}.checkbox:not(checked)+label{position:relative;padding:0 0 0 28px}.checkbox:not(checked)+label:before{content:'';position:absolute;top:0px;left:0;width:18px;height:18px;border:1px solid #95959a;background:#FFF}.checkbox:not(checked)+label:after{content:'';position:absolute;top:3px;left:3px;width:12px;height:12px;background:#328208;opacity:0;-webkit-transition:.2s;transition:.2s}.checkbox:checked+label{font-weight:bold}.checkbox:checked+label:after{opacity:1}.custom-select{border-width:0.5px;border-color:#c0c0c4;border-style:solid;background-color:#d9d9de;background:#d9d9de url("./img/arrrow_bottom.png") no-repeat right 0.75rem center;-webkit-box-shadow:9.584px 7.222px 13px 0px rgba(5,5,5,0.08);box-shadow:9.584px 7.222px 13px 0px rgba(5,5,5,0.08);font-size:16px;color:rgba(0,0,51,0.749);font-style:italic;line-height:1.2;text-align:left;border-radius:0px;padding-left:20px;font-weight:300;height:51px}.custom-select:after{content:none}.dropdown-menu{width:100%;background:#f0f0f0}.dropdown-menu .dropdown-item:hover{background:#f0f0f0}.dropdown-menu .dropdown-divider{border-color:#787891}.modal-dialog{margin-top:8%;width:100%;max-width:1600px}.modal-dialog .modal-content{border:none;border-radius:0px}.modal-dialog .modal-content .modal-body{padding:0}.modal-dialog .modal-content .modal-body .btn{font-size:18px;font-family:'Nunito Sans', sans-serif;text-transform:uppercase;color:#fff;font-weight:bold;line-height:40px;height:40px;padding:0;text-align:center;background-color:#003;width:200px;display:inline-block;border-radius:0;margin:8px 0 16px}.modal-dialog .modal-content .modal-body .btn.proceed{width:260px;float:left}.modal-dialog .modal-content .modal-body .btn.continue{margin-top:60px}.modal-dialog .modal-content .modal-body .btn.back{margin:0px auto 60px;display:block}.modal-dialog .modal-content .modal-body .tab-pane .left{padding-top:80px}.modal-dialog .modal-content .modal-body .tab-pane.first .left{padding-top:120px;padding-bottom:48px}.modal-dialog .modal-content .modal-body form{margin-top:0}.modal-dialog .modal-content .modal-body .nav-tabs{position:absolute;left:0;top:0;width:93%;z-index:2;background:#fff;border:none;overflow:hidden}.modal-dialog .modal-content .modal-body .nav-tabs a{border:none;font-size:30px;font-weight:900;color:#328208;text-transform:uppercase;line-height:1.6;text-align:center;width:calc(25% + 24px);background:url("./img/step.png") no-repeat center center;background-size:cover;margin-left:-24px;border-radius:0px;z-index:1}.modal-dialog .modal-content .modal-body .nav-tabs a.active{background:url("./img/step_active.png") no-repeat center center;background-size:cover;color:#fff}.modal-dialog .modal-content .modal-body .nav-tabs a:first-child{padding-left:0;background:url("./img/step_1.png") no-repeat center center;background-size:cover}.modal-dialog .modal-content .modal-body .nav-tabs a:first-child.active{background:url("./img/step_active1.png") no-repeat center center;background-size:cover}.modal-dialog .modal-content .modal-body .nav-tabs a:nth-child(2){z-index:2}.modal-dialog .modal-content .modal-body .nav-tabs a:nth-child(3){z-index:3}.modal-dialog .modal-content .modal-body .nav-tabs a:nth-child(4){z-index:4;background:url("./img/step4.png") no-repeat center center;background-size:cover}.modal-dialog .modal-content .modal-body .nav-tabs a:nth-child(4).active{background:url("./img/step4_active.png") no-repeat center center;background-size:cover}.modal-dialog .modal-content .modal-body .nav-tabs a:hover,.modal-dialog .modal-content .modal-body .nav-tabs a:focus,.modal-dialog .modal-content .modal-body .nav-tabs a:active{outline:none;-webkit-box-shadow:none;box-shadow:none}.modal-dialog .modal-content .modal-body .left{padding-right:60px;padding-bottom:48px}.modal-dialog .modal-content .modal-body .left .upload-block{display:-webkit-box;display:-ms-flexbox;display:flex}.modal-dialog .modal-content .modal-body .left .upload-block .left{width:250px;padding:0 15px}.modal-dialog .modal-content .modal-body .left .upload-block .right{width:calc(100% - 250px);padding:0 15px 0 45px}.modal-dialog .modal-content .modal-body .left .image-upload-wrap{background:url("./img/upload_bg.png") no-repeat center center;position:relative;height:300px;width:250px}.modal-dialog .modal-content .modal-body .left .file-upload-input{position:absolute;margin:0;padding:0;width:100%;height:100%;outline:none;opacity:0;cursor:pointer}.modal-dialog .modal-content .modal-body .left .btn.file-upload-btn{width:250px;margin-top:20px}.modal-dialog .modal-content .modal-body .left h2{font-size:30px;font-weight:900;color:#fff;text-transform:uppercase;line-height:1.2;text-align:center;background-color:#328208;display:block;padding:14px 10px;margin-bottom:56px}.modal-dialog .modal-content .modal-body .left h3{font-size:36px;font-weight:900;color:#003;line-height:1.2;text-align:left;display:block;margin-top:38px;margin-bottom:16px}.modal-dialog .modal-content .modal-body .left h3.mb0{margin-bottom:0}.modal-dialog .modal-content .modal-body .left span.text{font-size:18px;color:#003;font-style:italic;line-height:1.2;text-align:left;display:block;margin-bottom:16px}.modal-dialog .modal-content .modal-body .left span.text:first-child{margin-bottom:40px}.modal-dialog .modal-content .modal-body .left p{font-size:18px;color:#328208;font-weight:600;font-style:italic;line-height:1.2;text-align:left;display:block;margin-bottom:12px}.modal-dialog .modal-content .modal-body .left p.mb0{margin-bottom:0}.modal-dialog .modal-content .modal-body .left .row{padding-left:60px}.modal-dialog .modal-content .modal-body .left label{font-size:18px;font-weight:400;color:#003;line-height:1.2;text-align:left;display:block}.modal-dialog .modal-content .modal-body .left input{border-width:0.5px;border-color:#c0c0c4;border-style:solid;background-color:#d9d9de;-webkit-box-shadow:9.584px 7.222px 13px 0px rgba(5,5,5,0.08);box-shadow:9.584px 7.222px 13px 0px rgba(5,5,5,0.08);width:100%;max-width:100%;font-size:16px;color:rgba(0,0,51,0.749);font-style:italic;line-height:1.2;text-align:left;border-radius:0px;padding-left:20px;padding:25px 20px;font-weight:300}.modal-dialog .modal-content .modal-body .left .btn{width:260px;height:52px;line-height:52px}.modal-dialog .modal-content .modal-body .left .form-group{margin-bottom:32px}.modal-dialog .modal-content .modal-body .left .form-group.mb0{margin-bottom:0}.modal-dialog .modal-content .modal-body .register{background:url("./img/register.jpg") no-repeat center center;background-size:cover;text-align:center;position:relative}.modal-dialog .modal-content .modal-body .register.coach{background:url("./img/register_coach.jpg") no-repeat center center;background-size:cover}.modal-dialog .modal-content .modal-body .register button.button{font-size:24px;color:#fff;font-weight:bold;line-height:52px;text-align:center;background-color:#003;-webkit-box-shadow:0px 0px 13px 0px rgba(5,5,5,0.71);box-shadow:0px 0px 13px 0px rgba(5,5,5,0.71);text-transform:uppercase;padding:0 44px;width:200px;border:none;display:inline-block;margin:0px auto;cursor:pointer;position:absolute;left:0;right:0;bottom:66px;-webkit-transition:0.3s;transition:0.3s}.modal-dialog .modal-content .modal-body .register button.button:hover{-webkit-transition:0.3s;transition:0.3s;opacity:0.8}.modal-dialog .modal-content .modal-body .register .close{background:url("./img/close_icon.png") no-repeat center center;width:70px;height:70px;opacity:1}.content .login-form{width:100%;max-width:900px;background-color:#fff;-webkit-box-shadow:0.799px 0.602px 15.3px 2.7px rgba(2,1,34,0.15);box-shadow:0.799px 0.602px 15.3px 2.7px rgba(2,1,34,0.15);padding:50px 110px;margin:0px auto 0}.content .login-form h2{font-size:30px;font-family:'Nunito Sans', sans-serif;color:#020122;font-weight:bold;line-height:1.2;text-align:center;text-transform:uppercase;text-shadow:3.993px 3.009px 4.08px rgba(2,1,34,0.17);display:block;margin-bottom:32px}.content .login-form .form-group{margin-bottom:28px}.content .login-form label{font-size:24px;font-weight:400 !important;color:#020122;line-height:1.2;text-align:left}.content .login-form .center{text-align:center}.content .login-form input{background-color:#f5f5f5 !important;-webkit-box-shadow:15.973px 12.036px 17.28px 0.72px rgba(2,1,34,0.14) !important;box-shadow:15.973px 12.036px 17.28px 0.72px rgba(2,1,34,0.14) !important;border:none !important;border-radius:0px;font-size:24px !important;color:#949494 !important;font-style:italic;line-height:1.2;text-align:left;padding:0 30px !important;height:70px !important}.content .login-form button{font-size:30px;font-family:'Nunito Sans', sans-serif;color:#fff;font-weight:bold;line-height:80px;text-align:center;text-transform:uppercase;background-color:#020122;border-radius:0px !important;border:none;display:inline-block;padding-top:0;padding-bottom:0;padding-left:120px;padding-right:120px;margin-bottom:14px;cursor:pointer}.content .login-form a.forgot{font-size:24px;font-family:'Nunito Sans', sans-serif;color:#6d6d80 !important;line-height:1.2;text-align:center;display:block}.content .login-form a.forgot:hover,.content .login-form a.forgot:focus,.content .login-form a.forgot:active{text-decoration:none !important}.content .login-form .checkbox:not(checked)+label:before{top:4px}.content .login-form .checkbox:not(checked)+label:after{top:7px}.page-template-front-page header{padding-bottom:500px}.page-template-login-page{position:relative}.page-template-login-page header{background:#328208 !important;padding-bottom:0}.page-template-login-page header h2,.page-template-login-page header p{display:none !important}.page-template-login-page .um-login.um-logout{margin:110px auto !important;max-width:100% !important}.page-template-login-page .um-login.um-logout .um-form{max-width:500px}.page-template-login-page .um .um-form{width:100%;max-width:900px;background-color:#fff;-webkit-box-shadow:0.799px 0.602px 15.3px 2.7px rgba(2,1,34,0.15);box-shadow:0.799px 0.602px 15.3px 2.7px rgba(2,1,34,0.15);padding:50px 110px;margin:0px auto}.page-template-login-page .um .um-form h2{font-size:30px;font-family:'Nunito Sans', sans-serif;color:#020122;font-weight:bold;line-height:1.2;text-align:center;text-transform:uppercase;text-shadow:3.993px 3.009px 4.08px rgba(2,1,34,0.17);display:block;margin-bottom:0}.page-template-login-page .um .um-form .um-field{padding:0;margin-bottom:32px}.page-template-login-page .um .um-form .um-field-label label{font-size:24px !important;font-family:'Nunito Sans', sans-serif;color:#020122;font-weight:bold;line-height:1.2 !important;text-align:center;margin-bottom:0}.page-template-login-page .um .um-form .um-field-checkbox-option{font-size:24px;font-family:'Nunito Sans', sans-serif;color:#020122 !important;line-height:1.2;text-align:left}.page-template-login-page .um .um-form input[type="text"],.page-template-login-page .um .um-form input[type="tel"],.page-template-login-page .um .um-form input[type="password"]{background-color:#f5f5f5 !important;-webkit-box-shadow:15.973px 12.036px 17.28px 0.72px rgba(2,1,34,0.14) !important;box-shadow:15.973px 12.036px 17.28px 0.72px rgba(2,1,34,0.14) !important;border:none !important;border-radius:0px;font-size:24px !important;color:#949494 !important;font-style:italic;line-height:1.2;text-align:left;padding:0 30px !important;height:70px !important}.page-template-login-page .um .um-form input[type=submit].um-button{font-size:30px;font-family:'Nunito Sans', sans-serif;color:#fff;font-weight:bold;line-height:1.2;text-align:center;background-color:#020122;border-radius:0px !important}.page-template-login-page .um .um-form .um-col-alt-b{padding-top:10px}.page-template-login-page .um .um-form a.um-link-alt{font-size:24px;font-family:'Nunito Sans', sans-serif;color:#6d6d80 !important;line-height:1.2;text-align:center}.page-template-login-page .um .um-form a.um-link-alt:hover,.page-template-login-page .um .um-form a.um-link-alt:focus,.page-template-login-page .um .um-form a.um-link-alt:active{text-decoration:none !important}.page-template-login-page .um .um-form .um-misc-ul{list-style:none;padding-left:0;margin:0;font-size:24px;font-family:'Nunito Sans', sans-serif}.page-template-login-page .um .um-form .um-misc-ul li{font-size:24px;font-family:'Nunito Sans', sans-serif}header{background-color:#328208 !important;background-size:contain !important;padding-bottom:170px;position:relative;display:block}header .container-fluid{padding-left:50px;padding-right:50px}header ul.social{margin:0px auto;padding:0px;list-style:none;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}header ul.social li{margin-left:15px;margin-right:15px}header ul.social li a{width:46px;height:46px;display:block}header ul.social li a.fb{background:url("./img/fb_icon.png") no-repeat center center;background-size:contain}header ul.social li a.tw{background:url("./img/tw_icon.png") no-repeat center center;background-size:contain}header ul.social li a.inst{background:url("./img/inst_icon.png") no-repeat center center;background-size:contain}header ul.social li a.link{background:url("./img/link_icon.png") no-repeat center center;background-size:contain}header .middle{background-color:#f5f5f5;padding-top:20px;padding-bottom:20px;padding-left:30px;padding-right:30px}header .middle ul{padding-left:0;margin:0px;list-style:none;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-pack:distribute;justify-content:space-around}header .middle ul li.logo{background:url("./img/logo.png") no-repeat center center;height:61px;width:100%;margin-bottom:10px}header .middle ul li.logo a{text-indent:-9999px;display:block;height:100%}header .middle ul li a{font-size:20px;color:#020122;font-weight:700;text-transform:uppercase;line-height:1.2;text-align:center;text-shadow:3.993px 3.009px 4.9px rgba(2,1,34,0.5)}header .middle ul li a:hover,header .middle ul li a:focus,header .middle ul li a:active{text-decoration:none}header .info{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}header .info a{font-size:20px;color:#fff;font-weight:600;line-height:1.2;text-align:center;text-shadow:12.778px 9.629px 27px rgba(2,1,34,0.004)}header .info a:hover{text-decoration:none}header h1{font-size:53px;font-weight:900;color:#fff;text-transform:uppercase;line-height:1.2;text-align:center;text-shadow:12.778px 9.629px 27px rgba(2,1,34,0.004);display:block;margin:78px auto 64px;-webkit-animation:fadein 3s;animation:fadein 3s}header h1 span{display:block;font-size:47px}header h2{font-size:48px;font-weight:900;color:#fff;line-height:1.2;text-align:left;display:block;margin-top:80px;margin-bottom:40px}header p.desc{font-size:24px;font-weight:400;color:#fff;line-height:1.2;display:block;text-align:left}header .register-blocks{padding-left:100px;padding-right:100px}header .register-block{background:#fff url("./img/find_coach.jpg") no-repeat center center;background-size:cover;padding-top:200px;padding-bottom:68px;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:10px;border-radius:5px;overflow:hidden;-webkit-animation:fadein 3s;animation:fadein 3s}header .register-block span.title{font-size:53px;font-weight:900;color:rgba(2,1,34,0.741);text-transform:uppercase;line-height:1.2;text-align:center;display:block;margin-bottom:24px}header .register-block a.btn{font-size:23px;font-weight:900;color:#fff;text-transform:uppercase;line-height:86px;text-align:center;background-color:#020122;display:inline-block;padding-top:0;padding-bottom:0;padding-left:74px;padding-right:74px;border-radius:0px;-webkit-transition:0.3s;transition:0.3s}header .register-block a.btn:hover,header .register-block a.btn:focus,header .register-block a.btn:active{-webkit-transition:0.3s;transition:0.3s;opacity:0.8}header .register-block span.inf{font-size:22px;color:#fff;font-weight:bold;line-height:1.2;text-align:center;text-shadow:0.799px 0.602px 4px rgba(2,1,34,0.78);display:block;margin-top:28px}header .register-block span.inf a{display:inline-block;color:#020122}header .register-block span.inf a:hover{text-decoration:none}header .register-block.second{background:#fff url("./img/register_block2.png") no-repeat center center;background-size:cover}footer{background:#328208;padding-top:30px;padding-bottom:30px}footer .container-fluid{padding-left:50px;padding-right:50px}footer ul.social{margin:0px auto;padding:0px;list-style:none;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}footer ul.social li{margin-left:15px;margin-right:15px}footer ul.social li a{width:46px;height:46px;display:block}footer ul.social li a.fb{background:url("./img/fb_icon.png") no-repeat center center;background-size:contain}footer ul.social li a.tw{background:url("./img/tw_icon.png") no-repeat center center;background-size:contain}footer ul.social li a.inst{background:url("./img/inst_icon.png") no-repeat center center;background-size:contain}footer ul.social li a.link{background:url("./img/link_icon.png") no-repeat center center;background-size:contain}footer span.copy{font-size:20px;color:#fff;font-weight:600;line-height:1.2;text-align:center;text-shadow:12.778px 9.629px 27px rgba(2,1,34,0.004);display:block}footer span.copy b{color:#000}footer .info{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}footer .info a{font-size:20px;color:#fff;font-weight:600;line-height:1.2;text-align:center;text-shadow:12.778px 9.629px 27px rgba(2,1,34,0.004)}footer .info a:hover{text-decoration:none}.sidebar{margin-top:-160px;padding:270px 90px 80px;background:#003 url("./img/logo.png") no-repeat center 68px;-webkit-box-shadow:0px 0px 34.96px 3.04px rgba(255,255,255,0.15);box-shadow:0px 0px 34.96px 3.04px rgba(255,255,255,0.15);display:block;margin-bottom:150px}.sidebar h2{font-size:48px;font-weight:600;color:#328208;line-height:1.2;text-align:center;display:block;margin-bottom:70px}.sidebar p{font-size:24px;color:#328208;line-height:1.2;text-align:center;display:block;margin-bottom:40px}.sidebar a{display:block;font-size:24px;font-weight:300;color:#328208;line-height:1.2;text-align:left;padding-left:40px;margin-bottom:30px}.sidebar a:hover,.sidebar a:focus,.sidebar a:active{text-decoration:none}.sidebar a.phone{background:url("./img/phone.png") no-repeat left center}.sidebar a.email{background:url("./img/phone.png") no-repeat left center}.content{padding-top:70px}.content .row{margin-bottom:28px}.content form{padding-left:40px;padding-right:40px}.content input[type="text"],.content input[type="email"],.content input[type="tel"]{font-size:24px;font-weight:300;color:rgba(2,1,34,0.741);font-style:italic;line-height:1.2;border-width:0.5px;border-color:#a5a5ac;border-style:solid;border-radius:0px;padding-left:38px;padding-top:38px;padding-bottom:38px;height:92px;width:100%;font-family:'Nunito Sans', sans-serif}.content textarea{font-size:24px;font-weight:300;color:rgba(2,1,34,0.741);font-style:italic;line-height:1.2;border-width:0.5px;border-color:#a5a5ac;border-style:solid;border-radius:0px;padding-left:38px;width:100%;font-family:'Nunito Sans', sans-serif;padding-top:38px;padding-bottom:38px}.content input[type="submit"]{font-size:30px;font-family:'Nunito Sans', sans-serif;text-transform:uppercase;color:#fff;font-weight:bold;line-height:64px;text-align:center;background-color:#003;border-radius:0px;border:none;padding-left:80px;padding-right:80px;display:inline-block;padding-top:0;padding-bottom:0;cursor:pointer}section.section-1{padding-bottom:260px;background:#f5f5f5}section.section-1 .container-fluid{padding-left:180px;padding-right:180px}section.section-1 img{display:block;margin:-380px auto 0;position:relative;z-index:2}section.section-1 h2{font-size:53px;font-weight:900;color:#020122;text-transform:uppercase;line-height:1.2;text-align:center;display:block;margin-top:50px;margin-bottom:30px}section.section-1 p{font-size:26px;font-weight:600;color:#328208;line-height:1.2;text-align:center;display:block}section.section-2{background:#f5f5f5;position:relative}section.section-2 .container-fluid{padding-left:50px;padding-right:50px}section.section-2:after{content:'';background:#fff;width:100%;height:180px;position:absolute;bottom:0;left:0;right:0;z-index:0}section.section-2 a.view_all{font-size:22px;color:#328208;font-weight:bold;text-transform:uppercase;line-height:1.2;text-align:center;text-shadow:12.778px 9.629px 27px rgba(2,1,34,0.5);float:right;margin-top:26px;z-index:4;position:relative}section.section-2 a.view_all:hover,section.section-2 a.view_all:focus,section.section-2 a.view_all:active{text-decoration:none}section.section-2 .slider-nav{display:inline-block;position:relative;margin-top:10px;z-index:3}section.section-2 .slider-nav .slider__counter{font-size:22px;color:#328208;font-weight:bold;line-height:43px;text-align:left;text-shadow:12.778px 9.629px 27px rgba(2,1,34,0.004);display:inline-block;padding-left:60px;padding-right:60px}section.section-2 .slider-nav .slick-prev{background:url("./img/left.png") no-repeat center center;width:43px;height:43px;border:none;text-indent:-9999px;position:absolute;left:0;cursor:pointer}section.section-2 .slider-nav .slick-prev:hover,section.section-2 .slider-nav .slick-prev:focus,section.section-2 .slider-nav .slick-prev:active{outline:none}section.section-2 .slider-nav .slick-next{background:url("./img/right.png") no-repeat center center;width:43px;height:43px;border:none;text-indent:-9999px;position:absolute;right:0;cursor:pointer}section.section-2 .slider-nav .slick-next:hover,section.section-2 .slider-nav .slick-next:focus,section.section-2 .slider-nav .slick-next:active{outline:none}section.section-2 .slider-top{position:relative;z-index:1;margin-top:-70px;padding-left:0px;padding-right:0px}section.section-2 h2{font-size:53px;font-weight:900;color:#020122;text-transform:uppercase;line-height:1.2;text-align:center;text-shadow:12.778px 9.629px 27px rgba(2,1,34,0.5);display:block}section.section-2 .item{padding-left:10px;padding-right:10px;padding-top:80px;padding-bottom:80px}section.section-2 .item .inner{border-radius:5px;background-color:#fff;-webkit-box-shadow:10.382px 7.824px 57px 0px rgba(2,1,34,0.5);box-shadow:10.382px 7.824px 57px 0px rgba(2,1,34,0.5);padding:36px 10px 60px 30px;overflow:hidden;position:relative}section.section-2 .item .inner .top{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center}section.section-2 .item .inner .top .left{width:40%}section.section-2 .item .inner .top .left .image{display:block;width:115px;height:115px;overflow:hidden;border-radius:50%}section.section-2 .item .inner .top .left .image img{display:block;width:100%}section.section-2 .item .inner .top .right{width:60%}section.section-2 .item .inner .top .right span.name{font-size:26px;font-weight:900;color:#020122;text-transform:uppercase;line-height:1.2;text-align:left;display:block;margin-bottom:2px}section.section-2 .item .inner .top .right span.position{font-size:17px;color:#328208;font-weight:bold;line-height:1.2;text-align:left;display:block}section.section-2 .item .inner .top .right span.price{font-size:26px;font-weight:900;color:#225d03;text-transform:uppercase;line-height:1.2;text-align:left;display:block;margin:4px 0 14px}section.section-2 .item .inner .top .right span.rate-count{font-size:17px;color:#328208;font-weight:bold;line-height:1.2;text-align:left;display:block}section.section-2 .item .inner .top .right .rate{display:block;margin-bottom:4px}section.section-2 .item .inner .top .right .rate .star{width:25px;height:25px;background:url("./img/rate_empty.png") no-repeat center center;display:inline-block}section.section-2 .item .inner .top .right .rate .star.fill{background:url("./img/rate_fill.png") no-repeat center center}section.section-2 .item .inner .top .right .rate .star.half{background:url("./img/rate_half.png") no-repeat center center}section.section-2 .item .inner a.view{font-size:20px;font-weight:900;color:#fff;text-transform:uppercase;line-height:45px;text-align:center;background:#328208;display:block;position:absolute;bottom:0;left:0;right:0;width:100%}section.section-2 .item .inner a.view:hover,section.section-2 .item .inner a.view:focus,section.section-2 .item .inner a.view:active{text-decoration:none}section.section-3{background:#fff;padding-top:160px;margin-bottom:220px}section.section-3 h2{font-size:53px;font-weight:900;color:#020122;text-transform:uppercase;line-height:1.2;text-align:center;display:block;margin-top:50px;margin-bottom:30px}section.section-3 p{font-size:26px;font-weight:600;color:#328208;line-height:1.2;text-align:center;display:block}section.section-3 .steps{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;counter-reset:section;background:url("./img/steps.png") no-repeat center center;background-size:contain}section.section-3 .steps .item{width:36.46%;padding-top:110px;padding-bottom:110px;padding-left:50px;position:relative;z-index:3}section.section-3 .steps .item:nth-child(3){width:27.08%;padding-left:30px}section.section-3 .steps .item span.number{font-size:53px;font-weight:900;color:#fff;text-transform:uppercase;line-height:1.2;text-align:left;display:block;margin-bottom:12px}section.section-3 .steps .item span.title{font-size:33px;font-weight:900;color:#fff;text-transform:uppercase;line-height:1.2;text-align:left;display:block;margin-bottom:20px;max-width:440px}section.section-3 .steps .item p{font-size:26px;color:#fff;font-weight:600;line-height:1.2;text-align:left;display:block;max-width:440px}section.section-4{background:#328208 url("./img/section_4.png") no-repeat center top;background-size:cover;text-align:center;padding-bottom:206px;position:relative;display:block;margin-bottom:96px}section.section-4 img{display:block;margin:-170px auto 0}section.section-4 h2{font-size:53px;font-weight:900;color:#fff;text-transform:uppercase;line-height:1.2;text-align:center;display:block;margin-top:50px;margin-bottom:30px}section.section-4 p{font-size:26px;font-weight:600;color:#fff;line-height:1.2;text-align:center;display:block}section.section-4 .reviews-nav{display:inline-block;position:relative;margin-top:46px}section.section-4 .reviews-nav .slider__counter{font-size:22px;color:#fff;font-weight:bold;line-height:43px;text-align:left;text-shadow:12.778px 9.629px 27px rgba(2,1,34,0.004);display:inline-block;padding-left:60px;padding-right:60px}section.section-4 .reviews-nav .slick-prev{background:url("./img/left_w.png") no-repeat center center;width:43px;height:43px;border:none;text-indent:-9999px;position:absolute;left:0;cursor:pointer}section.section-4 .reviews-nav .slick-prev:hover,section.section-4 .reviews-nav .slick-prev:focus,section.section-4 .reviews-nav .slick-prev:active{outline:none}section.section-4 .reviews-nav .slick-next{background:url("./img/right_w.png") no-repeat center center;width:43px;height:43px;border:none;text-indent:-9999px;position:absolute;right:0;cursor:pointer}section.section-4 .reviews-nav .slick-next:hover,section.section-4 .reviews-nav .slick-next:focus,section.section-4 .reviews-nav .slick-next:active{outline:none}section.section-4 .item{padding-left:10px;padding-right:10px}section.section-4 .item .inner{border-radius:5px;background-color:#fff;-webkit-box-shadow:10.382px 7.824px 57px 0px rgba(2,1,34,0.004);box-shadow:10.382px 7.824px 57px 0px rgba(2,1,34,0.004);padding:40px 32px}section.section-4 .item .inner .image{width:95px;height:95px;overflow:hidden;border-radius:50%}section.section-4 .item .inner .image img{margin-top:0;width:100%}section.section-4 .item .inner p{font-size:26px;font-weight:300;color:#328208;font-style:italic;line-height:1.2;text-align:left;display:block;margin-bottom:28px}section.section-4 .item .inner span.name{font-size:26px;font-weight:900;color:#020122;text-transform:uppercase;line-height:1.2;text-align:left;display:block}section.section-4 .item .inner span.pos{font-size:17px;color:#020122;font-weight:bold;line-height:1.2;text-align:left;display:block}@media only screen and (max-width: 1600px){.modal-dialog{max-width:90%}.modal-dialog .modal-content .modal-body .left{padding-right:40px}.modal-dialog .modal-content .modal-body .left .row{padding-left:40px}.modal-dialog .modal-content .modal-body .nav-tabs a{background:#dadadf !important;margin-left:0;width:25%}.modal-dialog .modal-content .modal-body .nav-tabs a.active{background:#008300 !important}header .info a{font-size:18px;padding-left:5px;padding-right:5px}header .middle ul li a{font-size:18px}header h1{font-size:46px}header h1 span{font-size:40px}header .middle ul li.logo{background-size:contain}header .register-block span.title{font-size:40px}header .register-block{padding-top:120px}header .register-block a.btn{font-size:18px;line-height:60px;padding-left:40px;padding-right:40px}footer .info a{font-size:18px}footer span.copy{font-size:18px}section.section-2 h2,section.section-1 h2{font-size:46px}section.section-1 p{font-size:20px}.page-template-front-page header{padding-bottom:300px}section.section-1{padding-bottom:160px}section.section-1 img{margin-top:-250px}section.section-2 .item .inner{padding-left:15px}section.section-2 .item .inner .top .left .image{width:90px;height:90px}section.section-2 .item .inner .top .right span.name{font-size:20px}section.section-2 .item .inner .top .right span.position{font-size:15px}section.section-2 .item .inner .top .right span.price{font-size:22px;margin-bottom:4px}section.section-2 .item .inner a.view{font-size:18px}section.section-2 a.view_all{font-size:20px}section.section-2 .slider-nav .slider__counter{font-size:20px}section.section-2 .container-fluid{padding-left:15px;padding-right:15px}section.section-3{padding-top:100px}section.section-3 h2{font-size:46px}section.section-3 p{font-size:20px}section.section-3 .steps .item span.number{font-size:40px}section.section-3 .steps .item span.title{font-size:24px;max-width:340px}section.section-3 .steps .item p{max-width:340px;font-size:20px}section.section-3 .steps .item{padding-left:30px}section.section-4 h2{font-size:46px;margin-top:30px}section.section-4 p{font-size:20px}section.section-4 .item .inner p{font-size:20px}.sidebar{padding:170px 40px 40px}.sidebar h2{font-size:38px;margin-bottom:32px}.sidebar p{font-size:20px}.content input[type="text"],.content input[type="email"],.content input[type="tel"]{padding-top:18px;padding-bottom:18px;height:70px}.content textarea{padding-top:18px;padding-bottom:18px}.page-template-login-page .um .um-form{padding-left:10px;padding-right:10px}header .middle{padding-top:34px}}@media only screen and (max-width: 1400px){.modal-dialog .modal-content .modal-body .nav-tabs a{font-size:22px}.modal-dialog .modal-content .modal-body .tab-pane.first .left{padding-top:70px}.modal-dialog .modal-content .modal-body .tab-pane .left{padding-top:50px}.modal-dialog .modal-content .modal-body .left h2{margin-bottom:20px}.modal-dialog .modal-content .modal-body .left h3{margin-top:16px}.modal-dialog .modal-content .modal-body .left .form-group{margin-bottom:20px}.modal-dialog .modal-content .modal-body .register .close{width:50px;height:50px;background-size:cover}header ul.social li,footer ul.social li{margin-left:5px;margin-right:5px}footer .info,header .info{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-ms-flex-wrap:wrap;flex-wrap:wrap}header .register-block{padding-top:70px;padding-bottom:50px}header .register-block span.title{font-size:34px}header .register-block span.inf{font-size:18px}section.section-1{padding-bottom:80px}section.section-3{padding-top:0}section.section-3 .steps .item{padding-top:50px;padding-bottom:50px;padding-left:15px}section.section-3 .steps .item p{font-size:18px;max-width:300px}section.section-3 .steps .item:nth-child(3){padding-left:15px;padding-right:15px}section.section-4{padding-bottom:80px}}@media only screen and (max-width: 1200px){.modal-dialog .modal-content .modal-body .left input{padding-top:5px;padding-bottom:5px;font-size:15px}.custom-select{height:38px;font-size:15px}header .container-fluid{padding-left:15px;padding-right:15px}header .register-blocks{padding-left:50px;padding-right:50px}.modal-dialog .modal-content .modal-body .left h3{font-size:30px}.modal-dialog .modal-content .modal-body .left p{font-size:16px}.modal-dialog .modal-content .modal-body .left label{font-size:16px;margin-bottom:0}.modal-dialog .modal-content .modal-body .left .image-upload-wrap{width:200px;height:250px;background-size:contain}.modal-dialog .modal-content .modal-body .left .upload-block .left{width:200px}.modal-dialog .modal-content .modal-body .left .btn.file-upload-btn{width:200px;margin-top:10px}.modal-dialog .modal-content .modal-body .left .upload-block .right{width:calc(100% - 200px)}header h1{font-size:40px}.page-template-front-page header{padding-bottom:180px}section.section-1 img{margin-top:-150px}section.section-4 .reviews-nav .slick-prev,section.section-2 .slider-nav .slick-prev{width:30px;height:30px;background-size:contain}section.section-4 .reviews-nav .slick-next,section.section-2 .slider-nav .slick-next{width:30px;height:30px;background-size:contain}section.section-4 .reviews-nav .slider__counter,section.section-2 .slider-nav .slider__counter{line-height:30px}section.section-2 h2,section.section-1 h2,section.section-3 h2,section.section-4 h2{font-size:38px}section.section-4 .item .inner{padding:30px 20px}section.section-3 .steps .item span.title{font-size:20px;max-width:260px}section.section-3 .steps .item p{font-size:16px;max-width:200px}header .middle ul li a{font-size:16px;padding:0 5px}header .middle{padding:20px 10px}.sidebar{background-size:80%;padding-left:15px;padding-right:15px;margin-top:0}.sidebar a{font-size:22px;margin-bottom:16px}header{padding-bottom:30px}header h2{font-size:38px;margin-top:20px;margin-bottom:10px}header p.desc{font-size:18px}.content{padding-top:30px}.sidebar h2{font-size:28px}.content input[type="text"],.content input[type="email"],.content input[type="tel"]{height:50px;font-size:20px;padding-top:12px;padding-bottom:12px}.content textarea{font-size:20px;padding-top:12px;padding-bottom:12px}.content input[type="submit"]{font-size:20px;line-height:50px;padding-left:50px;padding-right:50px}.page-template-login-page .um .um-form input[type="text"],.page-template-login-page .um .um-form input[type="tel"],.page-template-login-page .um .um-form input[type="password"]{font-size:20px !important;height:50px !important}.page-template-login-page .um .um-form .um-field-label label{font-size:20px !important}.page-template-login-page .um .um-form input[type=submit].um-button{font-size:20px !important}.page-template-login-page .um .um-form a.um-link-alt{font-size:18px}.page-template-login-page .um .um-form .um-field-checkbox-option{font-size:18px;line-height:26px}.content form{padding-left:0;padding-right:0}.container .modal-content .modal-body .left{padding-right:0}.container .modal-content .modal-body .left .row{padding-left:15px;padding-right:15px}.container .modal-content .modal-body .left .form-group{margin-bottom:12px}.container .modal-content .modal-body .left h2{margin-bottom:20px}}@media only screen and (max-width: 992px){.modal-dialog .modal-content .modal-body .left h2{font-size:26px}.modal-dialog .modal-content .modal-body .left{padding-right:20px;padding-bottom:20px}.modal-dialog .modal-content .modal-body .left .row{padding-left:20px}.custom-select{font-size:14px;background-size:14px}.modal-dialog .modal-content .modal-body .left .btn{width:200px;height:40px;line-height:40px;font-size:16px}.modal-dialog .modal-content .modal-body .left label{font-size:14px}.modal-dialog .modal-content .modal-body .register button.button{font-size:20px;width:180px}.modal-dialog .modal-content .modal-body .nav-tabs a{font-size:18px}.modal-dialog .modal-content .modal-body .nav-tabs{width:90%}.modal-dialog .modal-content .modal-body .left h3{font-size:26px;margin-top:10px;margin-bottom:10px}.modal-dialog .modal-content .modal-body .left .upload-block .right{padding-left:30px}.modal-dialog .modal-content .modal-body .left span.text{font-size:15px;margin-bottom:10px}.modal-dialog .modal-content .modal-body .left span.text:first-child{margin-bottom:20px}header ul.social li a,footer ul.social li a{width:30px;height:30px}header .middle ul{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}header .middle ul li{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}header .middle ul li.logo{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}.page-template-front-page header{padding-bottom:100px}header h1{font-size:32px;margin-top:40px;margin-bottom:30px}header h1 span{font-size:24px}header .register-block{padding-top:40px;padding-bottom:30px}header .register-block span.title{font-size:26px;margin-bottom:16px}header .register-block a.btn{font-size:16px;line-height:50px;padding-left:20px;padding-right:20px}header .register-block span.inf{font-size:14px;margin-top:10px}section.section-1 img{margin-top:-90px}section.section-2 h2,section.section-1 h2,section.section-3 h2,section.section-4 h2{font-size:28px;margin-bottom:16px}section.section-2 h2{margin-bottom:0}section.section-2 p,section.section-1 p,section.section-3 p,section.section-4 p{font-size:16px}section.section-3 .steps{background:none}section.section-3 .steps .item{width:100%;margin-bottom:10px;padding-top:30px;padding-bottom:30px}section.section-3 .steps .item:nth-child(1){background:url("./img/step1.png") no-repeat center center;background-size:cover}section.section-3 .steps .item:nth-child(2){background:url("./img/step2.png") no-repeat center center;background-size:cover}section.section-3 .steps .item:nth-child(3){background:url("./img/step3.png") no-repeat center center;background-size:cover;width:100%}section.section-3 .steps .item span.number{text-align:center;margin:0px auto 10px}section.section-3 .steps .item span.title{max-width:500px;text-align:center;margin:0px auto 10px}section.section-3 .steps .item p{max-width:500px;text-align:center;margin:0px auto 10px}section.section-4 img{margin-top:-100px;max-width:80%}section.section-3{margin-bottom:120px}section.section-4 .item .inner p{font-size:18px;margin-bottom:14px}footer span.copy{font-size:14px}footer .info a{font-size:16px}section.section-2 a.view_all{margin-top:4px}section.section-2 .slider-nav{margin-top:0}.sidebar{background-size:180px;padding:60px 15px 15px;margin-bottom:40px;background-position:center 20px}section.section-2 .slider-nav,section.section-4 .reviews-nav{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex}}@media only screen and (max-width: 767px){.modal-dialog .modal-content .modal-body .left{padding-left:15px;padding-right:15px;background:#fff}.modal-dialog .modal-content .modal-body .register{background:#fff}.modal-dialog .modal-content .modal-body .register button.button{position:initial;margin:0px auto 20px}.modal-dialog .modal-content .modal-body .register .close{display:none}.modal-dialog .modal-content .modal-body .register.coach{background:#FFF}.modal-dialog .modal-content .modal-body .tab-pane.first .left{padding-bottom:0}.modal-dialog .modal-content .modal-body .nav-tabs a{font-size:13px;padding:5px 10px}.modal-dialog .modal-content .modal-body .nav-tabs{width:100%}.modal-dialog{margin:20px auto}.modal-dialog .modal-content .modal-body .left .row{padding-left:0}.modal-dialog .modal-content .modal-body .left input{padding-left:10px;padding-right:10px}.modal-dialog .modal-content .modal-body .left .upload-block .left{width:100%}.modal-dialog .modal-content .modal-body .left .upload-block .right{padding-left:20px;width:100%}.modal-dialog .modal-content .modal-body .register button.button{font-size:17px;line-height:40px}.container .modal-content .modal-body .left{padding-left:0;padding-right:0;padding-bottom:20px;background:#fff}.container .modal-content .modal-body .left .close{background:url("./img/close_icon.png") no-repeat center center;width:70px;height:70px;opacity:1;position:absolute;right:0px;top:-40px}.container .modal-content .modal-body .register{height:150px;background:green}.container .modal-content .modal-body .register .close{display:none}header .middle{margin-bottom:10px}header ul.social{margin-bottom:10px}footer .info,header .info{-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}footer .info a,header .info a{font-size:20px;display:block;margin-bottom:8px}header .register-blocks{padding-left:0;padding-right:0}header h1{font-size:28px}header h1 span{font-size:17px}section.section-1 .container-fluid{padding-left:15px;padding-right:15px}section.section-1 img{margin-top:-50px}section.section-2 a.view_all{float:none;display:block;text-align:center;margin:10px auto}section.section-2 .slider-nav,section.section-4 .reviews-nav{width:100%;text-align:center}section.section-4 .reviews-nav .slider__counter,section.section-2 .slider-nav .slider__counter{width:100%;text-align:center}section.section-2 .item{padding-bottom:30px}section.section-3 .steps .item{background-size:initial !important;background-position:left center !important}footer span.copy{margin-top:10px;margin-bottom:10px}footer .info{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.content textarea,.content input[type="text"],.content input[type="email"],.content input[type="tel"]{font-size:15px;padding-left:12px}.content .row{margin-bottom:10px}.page-template-login-page .um .um-form h2{font-size:26px}.page-template-login-page .um .um-form{padding:0px}.page-template-login-page .um .um-form .um-col-1{padding:20px 15px 0}.page-template-login-page .um .um-form a.um-link-alt{padding-bottom:20px}.um-col-alt{padding-left:15px;padding-right:15px}.page-template-login-page .um-login.um-logout{margin:10px auto !important}.page-template-login-page .um .um-form .um-misc-ul{padding-left:15px;padding-right:15px}}

/*# sourceMappingURL=style.css.map */